# GITHUB TOKEN
GITHUB_TOKEN=YOUR_GITHUB_PERSONAL_ACCESS_TOKEN

# Postgres Configurations
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=healthcare_assistant
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_LOCAL_HOST=localhost

# App Configurations
APP_PORT=8000
DATA_PATH=data/kenya_health_facilities_clean.csv

# Grafana Configurations
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
GRAFANA_URL=http://localhost:3000

# Streamlit Configurations
STREAMLIT_APP_PORT=8501
STREAMLIT_HOST=0.0.0.0
BASE_URL=http://localhost:8000
