pandas==2.2.3
openai==1.59.3
hyperopt==0.2.7
fastapi==0.115.6
uvicorn==0.34.0
uuid==1.30
requests==2.32.3
psycopg2-binary==2.9.10
python-dotenv==1.0.1
scikit-learn==1.6.0
streamlit==1.41.1
aiogram==3.17.0
